body {
padding: 15px, 5px 15px;
width: 480px;
background-color:#eafd2d;

}

header {
Width: 460px;
Padding: 10px;
Background-Color:#fda02d;
}
footer {
background-color:#fda02d;
Width: 460px;
Padding: 10px;
Margin-Bottom: 5px;
Font-Size: 14px;
}

